
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-bold:before {
    content: "B";
}
.fa-italic:before {
    content: "I";
}
.fa-list-ul:before {
    content: "Title";
}
.fa-file-image-o:before {
    content: "Image";
}
.fa-link:before {
    content: "Link";
}